logs
project/project
project/target
target
tmp
.history
.idea
*.iml
/out
.idea_modules
.classpath
.project
RUNNING_PID
.settings
media
reports
.cache
.target
bin
tools/generateForm/out
_test_generated_data
doc/_MaproToolAudit_1_2.xlsx
doc/_MaproToolAudit_1_4.xlsx
public/forms
/forms
data/
ext-lib-src
*.sublime-project